@model SuperSprinter3000_MVC.Models.AddUserStoryViewModel

@{
   ViewData["Title"] = "Add New User Story";
}

<div class="card">
    <form method="post">
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>

        <label asp-for="Description"></label>
        <input asp-for="Description"/>
        <span asp-validation-for="Description" class="text-danger"></span>

        <label asp-for="AcceptanceCriteria"></label>
        <input asp-for="AcceptanceCriteria"/>
        <span asp-validation-for="AcceptanceCriteria" class="text-danger"></span>

        <label asp-for="BusinessValue"></label>
        <input asp-for="BusinessValue"/>
        <span asp-validation-for="BusinessValue" class="text-danger"></span>

        <label asp-for="Estimation"></label>
        <input asp-for="Estimation"/>
        <span asp-validation-for="Estimation" class="text-danger"></span>

        <button type="submit">Add</button>
        <a asp-action="Index" class="button">Cancel</a>
        <span asp-validation-summary="All" class="text-danger"></span>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" async="true"/>
}
